/* style.css */
body {
    background: #0D1117;
    color: #fff;
    font-family: "Host Grotesk", sans-serif;
    margin: 0;
    font-size: 16px;
    overflow: hidden;
}

body.about {
    overflow: auto;
}

h1 {
    font-size: clamp(20px,5vw,40px);
}

h3 {
    font-size: clamp(16px,5vw,24px);
}

h1, h3, p, div#main img {
    margin: 0 0 15px;
}

div#main {
    padding: 30px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease, transform 1s cubic-bezier(0.4,0,0.2,1);
    -webkit-transition: opacity 1s ease, transform 1s cubic-bezier(0.4,0,0.2,1);
    -moz-transition: opacity 1s ease, transform 1s cubic-bezier(0.4,0,0.2,1);
    -o-transition: opacity 1s ease, transform 1s cubic-bezier(0.4,0,0.2,1);
    will-change: opacity, transform;
}

div#main img {
    width: 100%;
    max-width: 150px;
}

div#main a.about-btn {
    background: #0078d4;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    border: 1px solid rgb(255 255 255 / 20%);
    padding: 10px 15px;
    min-width: 100px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 60%);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

div#main a.about-btn:hover {
    background: none;
    transform: translateY(-3px);
}

div#main.about {
    height: auto;
}

div#main.about img {
    max-width: 75px;
}

div#main.about .about__container {
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    display: grid;
    grid: auto-flow dense / 1fr 3fr;
    grid-gap: 30px;
}

div#main.about .about__left img {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    margin: 0;
    display: block;
}

div#main.about .about__right {
    color: #0d1117;
}

div#main.about h3.about-name {
    color: #0078d4;
}

div#main.about .about__socials {
    display: flex;
    grid-gap: 10px;
}

div#main.about .about__socials a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    background: #0078d4;
    box-sizing: border-box;
    border-radius: 6px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

div#main.about .about__socials a:hover {
    transform: translateY(-3px);
}

div#main.about .about__socials a img {
    width: 100%;
    margin: 0;
}

/* mobile */
@media screen and (max-width: 767px) {

    div#main.about .about__container {
        grid: auto-flow dense / 1fr 2fr;
    }

}
@media screen and (max-width: 550px) {
    
    div#main.about .about__container {
        grid: auto-flow dense / 1fr;
    }

}