/* youtube.css */
body,
#header {
    color : #fff;
    background : #0f0f0f;
}

#header {
    display: grid;
    grid: auto-flow dense / 1fr 1fr 1fr;
}

button#hamburger {
    background: none;
    border: none;
    padding: 5px;
    border-radius: 100%;
}

button#hamburger svg {
    width: 24px;
    height: 24px;
}

button#hamburger svg path {
    fill: #ffffff;
}

#logo {
    height: 20px;
}

.header-left,
.header-center,
.header-right {
    display: flex;
    align-items: center;
}

.header-center {
    justify-content: center;
}

.header-right {
    justify-content: flex-end;
}