/* youtube.css */
body,
#header {
    color : #ffffff;
    background : #0f0f0f;
}

#header {
    display: grid;
    grid: auto-flow dense / 1fr 1fr 1fr;
}

button#hamburger {
    background: none;
    border: none;
    padding: 5px;
    border-radius: 100%;
    margin-right: 15px;
    width: 38px;
    height: 38px;
    display: flex;
    align-items:center;
    justify-content:center;
}

button#hamburger:hover {
    background:#272727;
    cursor:pointer;
}

button#hamburger svg {
    width: 24px;
    height: 24px;
}

button#hamburger svg path {
    fill: #ffffff;
}

#logo {
    height: 20px;
}

.header-left,
.header-center,
.header-right {
    display: flex;
    align-items: center;
}

.header-center {
    justify-content: center;
}

.header-right {
    justify-content: flex-end;
}

form#search {
    background: #121212;
    border: 1px solid #ffffff20;
    border-radius: 25px;
    overflow: hidden;
}

form#search input[type=text]{
    padding: 10px;
    min-width: 250px;
}

form#search input[type=submit]{
    padding:10px
}
