/* youtube.css */
body,
#header {
    color : #ffffff;
    background : #0f0f0f;
}

#header {
    display: grid;
    grid: auto-flow dense / 1fr 2fr 1fr;
    padding: 0 16px;
}

button#hamburger {
    background: none;
    border: none;
    padding: 5px;
    border-radius: 100%;
    margin-right: 15px;
    width: 38px;
    height: 38px;
    display: flex;
    align-items:center;
    justify-content:center;
}

button#hamburger:hover {
    background:#272727;
    cursor:pointer;
}

button#hamburger svg {
    width: 24px;
    height: 24px;
}

button#hamburger svg path {
    fill: #ffffff;
}

#logo {
    height: 20px;
}

.header-left,
.header-center,
.header-right {
    display: flex;
    align-items: center;
}

.header-center {
    justify-content: center;
}

.header-right {
    justify-content: flex-end;
}

form#search {
    background: #121212;
    border: 1px solid #ffffff20;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    width: 100%;
    max-width: 640px;
}

form#search input{
    flex: 1;
}

form#search input[type=text],
form#search input[type=text]:focus,
form#search input[type=text]:active {
    padding: 10px 15px;
    min-width: 250px;
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 25px 0px 0px 25px;
    font-size: 18px;
}
form#search input[type=text]:focus,
form#search input[type=text]:active {
    border: 1px solid rgb(64, 65, 255);
}

form#search input[type=submit]{
    padding:10px;
    max-width: 75px;
    background: rgba(255,255,255, 0.2);
    border: none;
    color: #ffffff;
    font-weight: bold;
}

button#voice-search {
    height: 38.4px;
    width: 38.4px;
    border-radius: 100%;
    background: rgba(255,255,255, 0.2);
    border: none;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button#voice-search img,
button#settings svg {
    width: 24px;
    height: 24px;
    dispaly: block;
}

button#settings {
    background: none;
    border: none; 
    margin-right: 10px;
}

button#settings svg path,
button#user svg path {
    fill: #ffffff; 
}

button#user {
    background: none;
    border: 1px solid rgba(255,255,255, 0.2);
    border-radius: 25px; 
    color: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    width: 100px;
}

button#user svg {
    width: 24px;
    height: 24px;
}